* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #222222;
  color: white;
}

.hero {
  height: 100vh;
}

footer {
  height: 40vh;
}

.hero, footer {
  display: grid;
  justify-content: center;
  align-content: center;
}

.scene {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.scene-canvas {
  width: 100%;
  height: 100%;
}

.scene-wrap {
  height: 800vh;
}
