* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #222222;
  color: white;
}

/* width */
body::-webkit-scrollbar {
  width: 6px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #ffc0e8;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #54465f;
  border-radius: 9999px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #776386;
}

.hero {
  height: 100vh;
}

footer {
  height: 40vh;
}

.hero,
footer {
  display: grid;
  justify-content: center;
  align-content: center;
  box-shadow: inset 0 0 0 1px white;
}

.scene {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #222222;
}

.scene canvas {
  width: 100% !important;
  height: 100% !important;
}

.scene:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(var(--scroll));
  height: 2px;
  width: 100%;
  transition: all 0.2s linear;
  background: white;
  opacity: calc(var(--scroll) * 0.5);
}

.scene h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(10) rotateX(40deg);
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  opacity: 0;
  font-family: sans-serif;
  transition: 0.3s ease-in-out;
  user-select: none;
  pointer-events: none;
}

.scene h2.in {
  transform: translate3d(-50%, calc(-50% - 35vh), 0) scale(1) rotateX(0deg);
  opacity: 1;
  /* user-select: auto;
  pointer-events: all; */
}

.scene-canvas {
  width: 100%;
  height: 100%;
}

.scene-wrap {
  --scroll: 0;
  height: 400vh;
}

.scene-wrap .scene svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: transparent !important;
  pointer-events: none;
}
